<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" verbose="2" thread-count="1">
  <test name="Test">
  <parameter name="browser" value="chrome"/>
        <classes>
      <class name="testcase.addProductLoggedIn"/>
     </classes>
  </test>
</suite> <!-- Suite -->
